html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  
}

body {
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  main{
    /*height: 400px; remove this from original start to remove the margin at the bottom of the page and add margin in p tag*/
    width: 250px; 
    background-color: white;
    text-align: center;
  }

  img{
  border-radius: 50%;/*rounds image*/
  border: 3px solid green
  
}

#status{
  display: flex;
  justify-content: flex-end;
  color: gray;
  padding: 10px 10px 0 0;
}
/* #img-container { this is another way to do this instead to changing the main into center - this way is turning the image into a flex box need to change html image to 
  display: flex; 
  justify-content: center; 
  align-items: center*/
h1{
  font-size: 24px;
}

#occupation{
  background-color: darkgray;
  padding: 4px 0; 
}

#brand {
  display: none;
}
p {
  margin: 4px 0;
}

#offer{
  padding: 4px 0; 
}

#contact{
  display: flex; 
}
#contact > p{/*selects children of p contact*/
  height: 60px;
  width: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0;

}
#contact > p:first-child{
  background-color: green;
}
#contact > p:last-child{
  background-color: lightgreen;
}
@media only screen and (min-width: 768px){

  main {
    width: 400px;
    display: grid; 
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    text-align: left;
    grid-template-areas: 
    "status name" 
    "occupation offer"
    "brand contact"
  
  }
  
  #status{
    text-align:left;
  }

  #occupation{
    text-align: center;
    background-color: gray;
    
  }

  #name{
    grid-column-start: 2 ;
    grid-row: 1
  } 
#contact{
  grid-column: 1 / span 1;
  grid-row: 4;
  
}
#offer {
  grid-column: 2;
  grid-row: 4;
  padding: 5px;
}
#brand > p {
  grid-row: 2;

}

img{
  width: 50%;
}

}
  
/* .flex-container {/* these contents makeup a flex box
  display: flex; 
  align-items: center;
  justify-content: center;
}  */
